<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/static/css/public.css"/>
		{% block link %}{% endblock %}
		<script src="/static/js/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="wa"></div>
		<div class="header">
			<div class="school"><a href="/">哈商大论坛</a></div>
			<div class="header-right">
				<a href="/user/login">登录</a>|
				<a href="/user/register">注册</a>|
                <a href="/user/logout">退出登录</a>
			</div>
		</div>
        <!-- 网页内容 -->
        {% block main %}{% endblock %}
		<!-- 底部栏 -->
		<div class="footer">
			版权所有@校园论坛设计
		</div>
	</body>
    <!-- js代码块 -->
{% block script %}{% endblock %}
</html>
