{% extends 'base.html' %}
{% block title %}查询结果{% endblock %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="/static/css/query.css"/>
{% endblock %}
{% block main %}
    <div class="content">
        <div class="content-left">
            <div class="post-list">
                <div class="list-group">
                <h3>搜索结果：</h3>
                    {% for post in posts %}
                        <a href="/post/post_detail/{{ post.pk }}" class="list-group-item">{{ post.title }}
                            <span class="badge">浏览：{{ post.browse_nums }}</span>
                            <span class="badge">发表时间:{{ post.create_time|date:'Y-m-d H:m:s' }}</span>
                            <span class="badge">作者:{{ post.user }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="content-right">
            <img src="/static/img/校徽.jpg" alt="">
            <form action="/user/query" method="get">
                <input type="text" name="q" value="" placeholder="请输入关键词">
                <input type="submit" value="搜索贴子"/>
            </form>
            <a href="/post/pub_post">
                <button type="button" class="btn btn-info">我要发帖</button>
            </a>
        </div>
    </div>
{% endblock %}